1. Data Collection

In [4]:
# a Load the dataset

import pandas as pd

df = pd.read_csv('student-mat.csv')

In [5]:
# b) Explore the dataset
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                               --------------  -----
 0   school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3  395 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

       school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
count                                                 395
unique                                                395
top     GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
freq                                                    1

B. Data Preprocessing

In [6]:
# Create a binary target: 1 if G3 (final grade) >= 10 (pass), else 0 (fail)
df['pass'] = df['G3'] >= 10
df['pass'] = df['pass'].astype(int)  # convert to 0/1

KeyError: 'G3'